body{ 
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: #edf0f6;

    color: #182034;

    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: fixed;
    
    z-index: 100;

    height: 50px;
    width: 100%;

    background-color: black;
}

main{
    padding-top: 80px;
    width: 100%;
    overflow: auto;
}

section{
    padding: 10px;

    height: auto;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

    box-sizing: border-box;
}

.title{
    position: relative;
    font-size: 40px;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 25px;
    
    font-weight: bold;

    color: white;

    div{
        position: absolute;
        right: 50%;
        top: -10%;
        z-index: -2;

        height: 120%;
        width: 1200px;
        background-color: #262e42;
    }
}

.small-title{
    font-size: 24px;

    padding: 5px 0;
    box-sizing: border-box;

    z-index: 10;

    color: #1d2a51;
    font-weight: bold;
    transition: 0.5s;
}

/*==== Group ====*/
.group{
    margin-top: 60px;
    margin-bottom: 30px;

    padding: 0;;

    width: 100%;
    height: 170px;
    background-color: white;

}

.group-grid{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;

    div{
        padding: 15px;
        box-sizing: border-box;
        align-content: center;

        .small-title{
            text-align: center;
        }
    }

    p{  
        color: #262d3f;
        width: 100%;

        font-size: 20px;
    }
}

#group-l{
    background: linear-gradient(90deg, rgba(189,225,98,1) 0%, rgba(189, 225, 98, 0.65) 100%);
    transition: 0.5s;
}

#group-r{
    word-wrap: break-word;
    overflow: auto;
    transition: 0.5s;

    p{
        font-size: 16px;
    }
}


.group:hover{
    #group-r{
        background-color: #262e42;
        
        p{
            font-size: 16.25px;
            color: #d0d0da;
            transition: 0.5s;
        }

        transition: 0.5s;
    }

    #group-l{
        background: linear-gradient(90deg, rgba(189,225,98,0.65) 0%, rgba(189, 225, 98, 1) 100%);
        transition: 0.5s;

        .small-title{
            font-size: 24.5px;
            transition: 0.5s;
        }

    }
} 


/*==== Personal ====*/
.personal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: wrap;

    margin-top: 100px;

    .small-title{
        height: 60px;
    }
}

.personal-grid{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;
    justify-items: center;

    gap: 2%;
}

.personal-future{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    width: 100%;
    height: 350px;
    
    padding: 20px;

    background-color: white;
    box-sizing: border-box;

    bottom: 0px;
    transition: 0.5s;
}

.personal .small-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    height: 88%;

    
    p{
        font-size: 18px;
        font-weight: bold;
        transition: font-size 0.5s;
    }

    img{
        opacity: 1;
        width: 150px;
        height: 150px;
        border-style: none;

        border-radius: 5px;

        transition: 0.5s ease;
    }
}

.name-img .hidden-info{
    height: 50%;
    width: 80%;
    position: absolute;

    top: 20%;
    word-wrap: break-word;
    overflow: auto;

    opacity: 0;
    color: #182034a4;
    
    transition: 0.3s ease;

    font-size: 16px;
}

.name-img.active{
    img{
        opacity: 0;
        transition: 0.3s ease;
    }

    .hidden-info{
        opacity: 1;
        transition: 0.5s ease;
    }

    
}
.personal:has(.personal-future:hover){
    .small-title{
        font-size: 24.5px;
        transition: 0.5s;
    }
}

.personal-future:hover{
    color: white;
    background-color: #171d2f;
    transition: 0.5s;

    box-shadow: 5px 7px 8px -1px rgba(0, 0, 0, 0.54);
    bottom: 2.5px;

    .button{
        background-color: #bde162;
        color: #171d2f;
        transition: 0.5s;
    }

    .button:hover{
        border-style: solid;
        border-color: white;
    }

    .button:active{
        background-color: rgb(231, 231, 231);
    }
    
    .name-img p{
        font-size: 18.25px;
        transition: font-size 0.5s;
    }

    .name-img .hidden-info{
        color: #d0d0da;
        font-size: 16.25px;

        transition: font-size 0.5s;
    }
}


.button{
    font-size: 12px;
    height: 12%;
    width: 125px;

    background-color: white;
    color: #171d2f;

    border-style: solid;
    border-color: rgb(23, 29, 47, 0.2);
    font-weight: bold;
}

.button:hover{
    background-color: #bde162;
}

.button:active{
    background-color: #a7c657;
}

#openall-button{
    border-style: none;

    background-color: #bde162;

    height: 25px;
    width: 100px;
}

#openall-button:hover{
    border-color: #a7c657;
    border-style: solid;
}


#openall-button:active{
    background-color: #a7c657;
}

.personal-future.black{
    color: white;
    background-color: #171d2f;

    .button{
        background-color: #bde162;
        color: #171d2f;
    }

    .button:hover{
        background-color: white;
    }

    .button:active{
        background-color: rgb(231, 231, 231);
    }
}


footer{
    background-color: black;
    width: 100%;
    height: 40px;
}

/* Tab */
@media (max-width: 1400px){
    section{
        width: 900px;;
    }

    .personal-grid{
        grid-template-columns: 1fr 1fr;
    }

    .title div{
        right: 25%;
    }
}

/* Phone/Tab */
@media (max-width: 950px){
    .personal-grid{
        grid-template-columns: 1fr;

        .personal-future{
            padding: 20px;
        }
    }

    section{
        width: 85%;
    }

    .title div{
        right: 5%;
    }
}

/* Phone*/
@media (max-width: 500px){
    section{
        width: 95%;
    }

    .title div{
        right: 0%;
        width: 1200%;
    }

    .personal{
        .small-title{
            margin-bottom: 5px;
        }

        #openall-button{
            margin-left: 20px;
            width: 80px;
        }
    }

    .personal-future{
        padding: 10px;
    }

    .group{
        height: auto;
    }

    .group-grid{
        grid-template-columns: 1fr;
        height: auto;
        overflow: auto;
    }

    #group-l{
        padding: 10px;
        .small-title{
            padding: 0;
            margin: 0;
        }
    }

    #group-r{
        word-wrap: break-word;
        overflow: auto;
    }
}
