body{ 
    width: 100%;
    margin: 0;
    padding: 0;

    background:rgba(0,0,0,0.5)url(./images/background1.jpg);
    background-blend-mode: darken;

    color: white;

    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: fixed;
    
    z-index: 100;

    height: 50px;
    width: 100%;

    background-color: black;
}

main{
    padding-top: 80px;
    width: 100%;
    overflow: auto;
}

section{
    padding: 10px;

    height: auto;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

    box-sizing: border-box;
}

.title{
    position: relative;
    font-size: 45px;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 25px;
    
    font-weight: bold;

    color: white;

    div{
        position: absolute;
        right: 50%;
        top: -10%;
        z-index: -2;

        height: 120%;
        width: 1200px;
        /* background-color: rgb(224, 66, 66); */
    }
}

.small-title{
    font-size: 24px;

    padding: 5px 0;
    box-sizing: border-box;

    z-index: 10;

    color: white;
    font-weight: bold;
    transition: 0.5s;
}

/*==== Group ====*/
.group{
    margin-top: 60px;
    margin-bottom: 0;

    padding: 0;;

    width: 100%;
    height: 150px;
    background-color: white;

    .small-title{
        color: white;
    }
}

.group-grid{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;

    div{
        padding: 15px;
        box-sizing: border-box;
        align-content: center;

        .small-title{
            text-align: center;
        }
    }

    p{  
        color: #262d3f;
        width: 100%;

        font-size: 20px;
    }
}

#group-l{
    background: linear-gradient(90deg, rgb(224, 66, 66) 0%, rgb(224, 66, 66, 0.75) 100%);
    transition: 0.5s;
}

#group-r{
    word-wrap: break-word;
    overflow: auto;
    transition: 0.5s;

    background-color: white;
    
    p{
        font-size: 16px;
        color: #272727;
    }
}


.group:hover{
    #group-r{
        /* background-color: #262e42; */
        
        p{
            font-size: 16.25px;
            /* color: #d0d0da; */
            transition: 0.5s;
        }

        transition: 0.5s;
    }

    #group-l{
        background: linear-gradient(90deg, rgba(224, 66, 66,0.75) 0%, rgba(224, 66, 66, 1) 100%);
        transition: 0.5s;

        .small-title{
            font-size: 24.5px;
            transition: 0.5s;
        }

    }
} 


/*==== Personal ====*/
.personal{
    width: 100%;
}

.personal-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: wrap;

    margin-top: 100px;

    .small-title{
        height: 60px;
    }
}

.personal-grid{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;
    justify-items: center;

    gap: 2%;

}

.personal-future{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    width: 100%;
    height: 350px;
    
    padding: 20px;

    background: white;
    color: black;

    box-sizing: border-box;

    bottom: 0px;
    transition: 0.5s;
}

.personal-container .small-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    height: 88%;

    
    p{
        font-size: 18px;
        font-weight: bold;
        transition: font-size 0.5s;
    }

    img{
        opacity: 1;
        width: 175px;
        height: 175px;
        border-style: none;

        border-radius: 5px;

        transition: 0.5s ease;
    }
}

.name-img .hidden-info{
    height: 50%;
    width: 80%;
    position: absolute;

    top: 20%;
    word-wrap: break-word;
    overflow: auto;

    opacity: 0;
    color:#272727;
    
    transition: 0.3s ease;

    font-size: 16px;
}

.name-img.active{
    img{
        opacity: 0;
        transition: 0.3s ease;
    }

    .hidden-info{
        opacity: 1;
        transition: 0.5s ease;
    }

    
}
.personal-container:has(.personal-future:hover){
    .small-title{
        font-size: 24.5px;
        transition: 0.5s;
    }
}

.personal-future:hover{
    color: white;
    background: rgb(224, 66, 66);
    transition: 0.5s;

    box-shadow: 5px 7px 8px -1px rgba(176, 176, 176, 0.54);
    bottom: 2.5px;
    
    .name-img p{
        font-size: 18.25px;
        transition: font-size 0.5s;
    }

    .name-img .hidden-info{
        color: #dfdfdf;
        font-size: 16.25px;

        transition: font-size 0.5s;
    }
}


.button{
    font-size: 12px;
    height: 12%;
    width: 125px;

    background-color: rgb(28, 28, 28);
    color: white;

    border-style: solid;
    border-color: rgb(23, 29, 47, 0.2);
    font-weight: bold;
}

.button:hover{
    border-color: white;
    border-style: solid;
}

.button:active{
    background-color: white;
    color: black;
}


#openall-button{
    border-style: none;

    background-color: rgb(224, 66, 66);
    color: white;

    height: 25px;
    width: 100px;
}

#openall-button:hover{
    border-color: white;
    border-style: solid;
}


#openall-button:active{
    background-color: white;
    color: black;
}


footer{
    background-color: black;
    width: 100%;
    height: 40px;
}

/* Tab */
@media (max-width: 1400px){
    section{
        width: 900px;;
    }

    .personal-grid{
        grid-template-columns: 1fr 1fr;
    }

    .title div{
        right: 25%;
    }
}

/* Phone/Tab */
@media (max-width: 950px){
    .personal-grid{
        grid-template-columns: 1fr;

        .personal-future{
            padding: 20px;
        }
    }

    section{
        width: 85%;
    }

    .title div{
        right: 5%;
    }
}

/* Phone*/
@media (max-width: 500px){
    section{
        width: 95%;
    }

    .title div{
        width: 100%;
        right: 0%;
    }

    .personal-container{
        .small-title{
            margin-bottom: 5px;
        }

        #openall-button{
            margin-left: 20px;
            width: 80px;
        }
    }

    .personal-future{
        padding: 10px;
    }

    .group{
        height: auto;
    }

    .group-grid{
        grid-template-columns: 1fr;
        height: auto;
        overflow: auto;
    }

    #group-l{
        padding: 10px;
        .small-title{
            padding: 0;
            margin: 0;
        }
    }

    #group-r{
        word-wrap: break-word;
        overflow: auto;
    }
}
