body{
    margin: 0px;
    padding: 0px;
}
.baby{
    width: 500px;
}
.babysize{
    width: 500px;
}
.box-baby{
    margin-top: 300px;
    position: relative;
    width: auto;
    width: 500px;
    transform: rotate(-10deg);
}
.box-baby2{
    margin-top: 300px;
    position: relative;
    width: auto;
    width: 500px;
    transform: rotate(10deg);
}
.baby-text-container{
    position: relative;
    width: auto;
    width: 500px;
}
.romannum {
    margin-top: 100px;
    color: rgb(255, 252, 240);
    text-align: center;
    font-family: Marcellus;
    font-size: 70px;
    font-style: bold;
    font-weight: 500;
    
}
.box-containers{
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.box-content{
    grid-template-columns: 1fr 1fr;
    display: grid;
    padding: 4rem;
    display: inline;
    background-color: orchid;
    align-items: center;
    text-align: center;
}
.pic1{
    position: relative;
    width: auto;
    width: 350px;
    transform: rotate(-10deg);
}
.nametag{
    width: 220px;
    height: 70px;
    transform: rotate(-2deg);
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--Text-color, #F82626);
    position: relative;
    top: -60px;
    right: -320px;
}
.nametagtext {
    color: rgb(255, 252, 240);
    font-family: Marcellus;
    font-size: 55px;
    padding-left: 20px;
    margin-top: 1rem;
}

.nametag2{
    width: 220px;
    height: 70px;
    transform: rotate(1.5deg);
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--Text-color, #F82626);
    position: relative;
    top: -60px;
    right: 20px;
}
.nametagtext2 {
    color: rgb(255, 252, 240);
    font-family: Marcellus;
    font-size: 55px;
    padding-left: 20px;
    margin-top: 1rem;
}

.para {
    font-size: 20px;
    padding: 10px;
    color: rgb(255, 252, 240);
}

.star{
    top: -630px;
    position: relative;
    right: 60px;
}
.star2{
    top: -630px;
    position: relative;
    right: -420px;
}

.Year {
    font-family: Marcellus;
    font-size: 30px;
}